@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "DM Sans", sans-serif;
}

.points ul {
	list-style: disc;
	padding-right: 20px;
	/* margin-left: 40px; */
}

.custom-container1 {
  width: 100%;
  max-width: 1500px;
  margin: 0px auto;
  padding-left: 10px;
  padding-right: 10px;
}

.custom-container2 {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
  padding-left: 15px;
  padding-right: 15px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-overlay-scrollbar::-webkit-scrollbar {
  width: 0;
  /* Hide scrollbar width */
}

/* Optional: Customize scrollbar track */
.custom-overlay-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  /* Track color */
}

/* Optional: Customize scrollbar thumb */
.custom-overlay-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
  /* Thumb color */
}

.css-hzmovp-MuiInputBase-root-MuiOutlinedInput-root,
.MuiFormControl-root {
  background-color: #fff !important;
  border-radius: 10px !important;
} 

@media (min-width: 800px) {
  .css-hzmovp-MuiInputBase-root-MuiOutlinedInput-root,
  .MuiFormControl-root {
    background-color: transparent !important;
    border-radius: none !important;
  }
}

.scroll-hidden::-webkit-scrollbar {
	display: none;
}
.scroll-hidden {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}
.scroll-hidden::-webkit-scrollbar-thumb {
	background-color: transparent;
	border-radius: 10px;
}

.search:hover .searchPrice {
	color: rgb(254, 154, 154);
}